.minhaFoto{
    margin-left: 1%;
    border-radius: 50%;
    display: block;
    width: 25%;
    float: right;
    filter: grayscale(80%);
}

.faculImg{
    width: 100px;
    margin: 20px;
}

.tumbnail{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10%;
}

.contato{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.contactIcon {
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
}