body{
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
    text-align: justify;
}

h1{
    font-family: sans-serif;
}

.sobreMin{
    margin: 10%;
}

.negativo{
    text-decoration: line-through;
}
.negativo:hover{
    text-decoration: none;
}
.subtitulo{
    margin-top: 10%;
}

footer{
    margin-top: 10%;
    font-size: small;
    text-align: center;
}
.footerIcon{
    width: 3%;
    margin-bottom: -10px;
}